<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before </td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer"> Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00 </td>  <td> Setup & Code of Conduct </td> </tr>
      <tr> <td>09:10</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start/index.html"> Before we start </a> </td> </tr>
      <tr> <td>09:40 </td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html"> Short Introduction to Programming in Python  </a> </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html"> Starting With Data </a> </td> </tr> 
      <tr> <td>11:30</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html"> Indexing, Slicing and Subsetting DataFrames in Python </a> </td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:15</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
     <tr> <td>09:00</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html"> Indexing, Slicing and Subsetting DataFrames in Python(continued) </a> </td> </tr>
     <tr> <td>09:15</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html"> Data Types and Formats</a> </td> </tr>
    <tr> <td>09:45</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html"> Combining DataFrames with Pandas </a> </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
   <tr> <td>10:45</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html"> Data Workflows and Automation </a> </td> </tr>
    	    <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:15</td>  <td>END</td> </tr>
    </table>
  </div>
	<div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html"> Making Plots With plotnine </a> </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html"> Data Ingest and Visualization - Matplotlib and Pandas </a> </td> </tr>
     <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html"> Data Ingest and Visualization - Matplotlib and Pandas(continued) </a> </td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html"> Accessing SQLite Databases Using Python and Pandas </a></td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
