<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before </td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer"> Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00 </td>  <td> Setup & Code of Conduct </td> </tr>
      <tr> <td>09:10 </td>  <td> <a href="https://swcarpentry.github.io/shell-novice/01-intro.html"> Introduction to Shell  </a> </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break I </td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop.html"> Automating Tasks with the Unix Shell </a> </td> </tr> 
      <tr> <td>11:30</td>  <td>Morning break II </td> </tr>
      <tr> <td>11:45</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">  Automating Tasks with the Unix Shell(continued) </a> </td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:45</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
     <tr> <td>09:00</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python"> Short Introduction to Programming in Python </a> </td> </tr>
     <tr> <td>09:30</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data"> Starting With Data & Indexing, Slicing and Subsetting DataFrames</a> </td> </tr>
    <tr> <td>09:50</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions.html">Data Types and Formats </a> </td> </tr>
    <tr> <td>10:15</td>  <td>Morning break I </td> </tr>
    <tr> <td>10:30</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions"> Data Workflows and Automation </a> </td> </tr>
    <tr> <td>11:30</td>  <td>Morning break II </td> </tr>
    <tr> <td>11:45</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions"> Data Workflows and Function </a> </td> </tr>
    <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
    <tr> <td>12:45</td>  <td>END</td> </tr>
    </table>
  </div>
	<div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
     <tr> <td>09:00</td>  <td> <a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together"> Making Plots with Python </a> </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break I </td> </tr>
     <tr> <td>10:30</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together.html"> Matplotlib and Pandas </a> </td> </tr>
     <tr> <td>11:30</td>  <td>Morning break II </td> </tr>
      <tr> <td>11:45</td>  <td><a href="https://openai.com/blog/chatgpt"> Short Introduction to ChatGPT  </a></td> </tr>
      <tr> <td>11:45</td>  <td><a href="https://openai.com/blog/chatgpt"> Make Python Programs with ChatGPT(a few examples) </a></td> </tr>
      <tr> <td>12:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:50</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
